*,
body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 14, 14);
}

#time {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: 10rem;
    color: white;
}

@media screen and (max-width: 768px) {
    #time {
        font-size: 6rem;
    }
}

@media screen and (max-width: 480px) {
    #time {
        font-size: 4rem;
    }
}